page-details {

  .container1{
    background-color: #cac900;
    height: 100%;
  }

  .container2{
    background-color: #841E60;
    height: 100%;
  }

  .container3{
    background-color: #f0a3ce;
    height: 100%;
  }
  .container4{
    background-color: black;
    height: 100%;
  }

.beaconImg{
  max-width:50%;
  margin-top: 10%;
}

.itemImg{
  max-width:80%;
}

.desc{

  margin-top: -10%;
}
.textColor{
  color:#ffffff;
}

.price{
  color:#ffffff;
  font-size: 1.3em;
  margin-top:5px;
}

.itemImgWatch{
  max-width:50%;
}

}
